<%= simple_form_for :address, url: address_path do |f| %>
    <%= f.input :street_1, as: :string %>
    <%= f.input :street_2, as: :string %>
    <%= f.input :city, as: :string %>
    <%= f.input :state, as: :string %>
    <%= f.input :postcode, as: :string %>

    <div class="actions">
      <%= f.submit 'Estimate Address Value' %>
    </div>
<% end %>
